{#
/**
* @file
* Default theme implementation to display the file or link field as a lottie-player tag.
*
* Available variables:
* - attributes: An array of HTML attributes.
*
* @ingroup themeable
*/
#}

{{ attach_library('lottiefiles_field_formatter/lottiefiles') }}
<lottie-player {{ attributes }}></lottie-player>
